@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0d1117; 
  color: #c9d1d9; 
  font-family: 'Fira Code', monospace;
}


body {
  overflow-x: hidden;
}